li, span.item-name {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

ul {
	margin: 10px 0;
	padding: 0;
}

li {
	list-style: none;
	width: 323px;
	margin: 0 0 2px;
	padding: 4px;
	border: solid 1px gray;
  background-color: #eee;
}

span.positive-value { color: green; }

span.negative-value { color: red; }

span.item-name {
  background-color: red;
  width: 250px;
  display: inline-block;
}

span.item-date {
  color: gray;
  font-size: 10px;
  display: block;
}

span.item-value {
  font-size: 11px;
  float: right;
  margin-top: 4px;
}
