/* You can add global styles to this file, and also import other style files */
div.component-wrapper {
	border: solid 1px silver;
	margin: 10px;
	padding: 10px;
}

.has-error label.control-label {
	color: red;
}

.has-error input[type=text].form-control {
	border-color: red;
	box-shadow: 0px 0px 0px 0.2rem red;
}